:root {
  --transparente-aside: rgba(245, 255, 250, 0.9);
  --gris: #808080;
  --azul-hielo: #f0f8ff;
  --blanco-humo: #f5f5f5;
  --azul-oscuro: #153054;
  --azul-rey: #0056b3;
  --verde-oscuro: #1e392a;
  --verde-rey: #008f37;
  --verde-laguna: #5CAD80;
  --color-secundario: #00ff00;
}

@font-face {
  font-family: "Roboto";
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  /* src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype'); */
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('../assets/fonts/Roboto-Bold.ttf');
  /* src: url('/assets/fonts/Roboto-Bold.ttf'); */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* aqui termina el formateador de css */

p {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: 'Roboto-Bold';
}

h2 {
  font-family: 'Roboto-Bold';
  font-size: medium;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

button a {
  text-decoration: none;
  color: inherit;
}


button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* background-color: #007bff; */
  background-color: var(--verde-oscuro);
  /* Color de fondo del botón */
  color: var(--blanco-humo);
  /* Color del texto del botón */
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--verde-rey);
}

button:active {
  background-color: var(--verde-laguna);
}


/* componentes: */

/* footer */
footer {
  background-color: #1e392a;
  /* Verde oscuro */
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}


/* nav */



/* header */

.header {
  min-height: 84px;
  /* min-height: 150px; */
  /* padding: 0px 2vw; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.header button a {
  color: var(--blanco-humo);
}

/* .header__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} */

.header__nav-item {
  display: flex;
  justify-content: center;
  width: 9rem;
  align-items: center;



  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  height: 40px;
  padding: 10px;
}

.header__nav-link {}

.header__nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header__nav-link-logo-img {
  height: 40px;
  padding-right: 10px;
}

.header__nav-item:hover {
  background-color: var(--verde-oscuro);
  color: var(--blanco-humo);
  transition: all 200ms ease;
}


.header__nav-link:hover {
  background-color: var(--verde-oscuro);
}









/* pages */


/* home */

.main {
  overflow: hidden;
}

.main__canva {
  height: 90vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.main__canva-cuadrilatero {
  /* position: relative; */
  z-index: 5;
  border-top: 180vw solid var(--verde-oscuro);
  border-right: 60vw solid transparent;
}

.main__canva-img {
  position: relative;
  bottom: 35px;
  right: 40vw;
  height: 100vh;
}

.main__canva-text {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  height: 80vh;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
  /* position: relative;
  z-index: 5;
  right: 40vw;
  font-family: 'Roboto-Bold', sans-serif;
  color: var(--blanco-humo); */
}

.main__canva-text--h3 {
  color: var(--blanco-humo);
  font-size: 5rem;

}

.lineas-atencion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  padding: 5vh;
}

.lineas-atencion__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  flex-wrap: wrap;
}

.lineas-atencion__item {
  background-color: var(--blanco-humo);
  padding: 2vw;
  display: flex;
  align-items: center;
  gap: 2vw;
  border-radius: 15px;
}

.lineas-atencion__item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


.featured-videos {
  display: flex;
  flex-direction: column;

  background-color: #f0f0f0;
  padding-bottom: 10vh;
}

/* .featured-videos h2 {} */
.featured-videos-title {
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-items: center;
}

.video-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.video-item {
  /* width: calc(33.33% - 20px); */
  width: 30vw;
  background-color: #fff;
  min-width: 300px;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
}

.video-item iframe {
  width: 100%;
  /* border: 1px solid #ddd; */
  /* Añade un borde al video */
}

.video-item p {
  text-align: center;
  padding-top: 10px;
  background-color: #fff;
  /* Centra el texto de la descripción */
}

.noticias__container {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}

.noticias {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
}

.noticas__item {
  margin-bottom: 20px;
}



/* login */
.main__login {
  background-image: url("../assets/imgs/policias-jovenes.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  background-attachment: fixed;
  height: 100vh;
}

.main__login-blur {
  height: 100vh;
  /* padding: 0px 5vw; */
  padding: 0px auto;
  background-color: rgba(159, 176, 190, 0.557);
  backdrop-filter: blur(5px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box__back {
  width: 80%;
  /* padding: 10px 20px; */
  display: flex;
  justify-content: center;
  /* background-color: #1e392a; */
  background-color: #1e392a6f;
  backdrop-filter: blur(3px);

}

.box__back section {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin: 100px 40px;
  color: var(--blanco-humo);
  transition: all 500ms;
}

.container__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  position: relative;
  bottom: 22%;
  left: 10%;
  transition: all 1s ease;
}

.container__login-register form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 80px 20px;
  position: absolute;
  background-color: var(--blanco-humo);
  border-radius: 15px;
}

.container__login-register form h3 {
  font-size: 1.4rem;
  text-align: center;
}

.container__login-register form input {
  padding: 5px;
}

.container__login-register--sub {
  padding: 5px;
  background-color: var(--verde-rey);
  color: var(--azul-hielo);
  font-size: 1.2rem;
  border-color: transparent;
  border-radius: 15px;
  cursor: pointer;
}

.form__login {}

.form__register {
  /* visibility: hidden; */
}




/* denuncia  */

/* Estilos para el formulario de denuncia */
.denuncia {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.denuncia__form-info {
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.denuncia__form-radio {
  height: 5vh;
  /* display: ; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8vw;
  padding: 1vw;
}

.denuncia__form-radio img {
  margin-top: 5px;
  width: 40px;
}

.denuncia__form {
  margin-bottom: 00px;
}

.denuncia__form p {
  /* margin-bottom: 5px; */
}


.denuncia__form input[type="text"],
.denuncia__form input[type="number"],
.denuncia__form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.denuncia__form input[type="radio"] {
  display: none;
}

.denuncia__form input[type="radio"]+label {
  display: inline-block;
  cursor: pointer;
}

.denuncia__form input[type="radio"]:checked+label {
  font-weight: bold;
}

.denuncia__form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.denuncia__form input[type="submit"]:hover {
  background-color: #45a049;
}


.denuncia__form-carta--area {
  width: 90vw;
  height: 30vh;
  resize: vertical;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.denuncia__form-carta--area {}



/* Mostrar denuncias */

.mostrarDenuncias__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.ver-denuncia {
  width: 70vw;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.ver-denuncia h2 {
  color: #333;
  font-size: 18px;
}

.ver-denuncia span {
  font-weight: 700;
  color: #007bff;
}

.ver-denuncia p {
  margin: 5px 0;
}

.ver-denuncia hr {
  border: 1px solid #ccc;
  margin-top: 20px;
}

.mostrarDenuncias__container input {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnCerrarSesion {}




/* consecuencias */

.main__consecuencias {
  line-height: 1.6;
  padding: 20px;
}

.main__consecuencias h1 {
  text-align: center;
  color: #333;
}

.consecuencia {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.consecuencia h2 {
  color: #007bff;
}

.consecuencia p {
  color: #666;
}





@media (max-width: 768px) {

  /* components */
  .header {
    flex-direction: column;
  }






  /* pages */
  /* homee */
  .main {
    overflow: hidden;
  }

  .main__canva {
    height: 90vh;
    overflow: hidden;
    position: relative;
    display: flex;
  }

  .main__canva-cuadrilatero {
    z-index: 5;
    border-right: 100vw solid transparent;
    background-color: var(--verde-oscuro);
  }

  .main__canva-img {
    position: relative;
  }

  .main__canva-text {
    font-size: small;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    height: 80vh;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 10;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .main__canva-text--h3 {
    color: var(--blanco-humo);
    font-size: 4rem;
  }


  /* login */

  .box__back {
    display: flex;
    flex-direction: column;
  }
}







@media (max-width: 576px) {
  /*  */
}